fastapi
uvicorn[standard]
pdfplumber
python-docx
anthropic
openai
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-multipart
aiosqlite
sqlalchemy[asyncio]
pydantic-settings
pydantic[email]
chardet
pandas
openpyxl
numpy
python-dateutil
jinja2
asyncpg
python-dotenv
pyarrow
groq
google-generativeai
python-pptx
thefuzz
python-Levenshtein
